[submodule "libs/Adafruit_Python_CharLCD"]
	path = libs/Adafruit_Python_CharLCD
	url = https://github.com/adafruit/Adafruit_Python_CharLCD

[submodule "libs/Adafruit_Python_DHT"]
	path = libs/Adafruit_Python_DHT
	url = https://github.com/adafruit/Adafruit_Python_DHT
[submodule "libs/python-forecast.io"]
	path = libs/python-forecast.io
	url = https://github.com/ZeevG/python-forecast.io
[submodule "libs/requests"]
	path = libs/requests
	url = https://github.com/kennethreitz/requests
